body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 860px) {
  .canvas {
    margin: 0 100px;
}}

.canvas {
  background-color: #9C835F;
  margin-top: 0;
}

.logo, .title{
  display: inline-block;
  margin-left: 20px;
  font-weight: 800;
}
.signup, .login {
  display: inline-block;
  font-weight: 700;
  margin: 10px;
}
.player, .com, .pScore, .cScore, .vs {
  font-size: 40px;
  font-weight: 800;
}

/* * {
  border: 3px solid black;
} */

table {
  width:100%;
  text-align: center;}
  tr {
    height: 120px;}
  th, td {
    width: 33%;
  }

.batu, .gunting, .kertas, .pBatu, .pGunting, .pKertas {
  width: 100px;
  border-radius: 25px;
  display: inline-block;
  padding: 10px 0;
}
.item:hover {
  background-color: rgba(255,255,255,.5);
}

.result {
  font-size: 50px;
  font-weight: 900;
  color: blue;
  border-radius: 20px;
}

.refresh, .save {
  margin: 0 20px;
}