@font-face {
  font-family: LeagueGothic;
  src: url(assets/LeagueGothic-Regular.otf);
}

body {
  font-family: LeagueGothic;
  background-color: black;
  margin: 0;
  padding: 0;
}
@media (min-width: 860px){
  .canvas {
    margin: 0 150px;
  }}

.canvas {
  background-color: #9C835F;
  margin-top: 0;
}

#logo, .title{
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}
#signup, #login {
  display: inline-block;
  font-weight: 700;
  margin: 10px;
  cursor: pointer;
}
#player, #p-score, #c-score, .computer, .vs {
  font-size: 50px;
  font-weight: 800;
}

/* * {
  border: 3px solid black;
} */

table {
  width:100%;
  text-align: center;}
  tr {
    height: 120px;}
  th, td {
    width: 33%;
  }

#batu, #kertas, #gunting, .com {
  width: 100px;
  border-radius: 25px;
  display: inline-block;
  height: 90px;
  padding-top: 10px;
}
  #img-batu, #img-kertas, #img-gunting, .img-com {
    width: 60px;
    height: 60px;
  }


#batu:hover, #kertas:hover, #gunting:hover {
  background-color: rgba(255,255,255,.5);
  cursor: pointer;
}
#img-batu:hover, #img-kertas:hover, #img-gunting:hover {
  width: 80px;
  height: 80px;
}

#result {
  font-size: 70px;
  font-weight: 800;
  color: blue;
  border-radius: 20px;
  height: 80px;
}

#refresh, #save {
  margin: 0 20px;
  cursor: pointer;
  display: inline-block;
}