body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}
@media screen and (min-width: 860px) {
  .canvas {
    margin: 0 100px;
}}

.nav {
  display: inline-block;
  font-weight: 800;
}


.canvas {
  background-color: #9C835F;
  margin-top: 0;
}

/* * {
  border: solid black;
} */
table {
  width:100%;
  text-align: center;}
  tr {
    height: 120px;}

.item {
  width: 100px;
  border-radius: 25px;
  display: inline-block;
  padding: 10px 0;
}
.item:hover {
  background-color: rgba(255,255,255,.5);
}
.item:checked {
  background-color: rgba(255,255,255,.5);
}

.initial {
  font-size: 40px;
  font-weight: 800;
}
#result {
  font-size: 50px;
  font-weight: 900;
  color: blue;
}

.button {
  margin: 0 20px;
}